# 排除python编译文件
__pycache__/
*.py[cod]
*$py.class
*.dll
# 排除虚拟环境
env/
#  排除日志文件
app.log
logs/
# 排除mypy缓存文件
.mypy_cache/
stubs/

# 排除其他文件
panda3d/
PandaQt-main/
.minecraft/
.vs/
计划.txt
unrequirements.txt
ttf/
tmp/
# 排除构建文件
main.onefile-build/
main.build/
main.dist/
dist/
build/
*.exe
*.cmd
*.bat

# 排除测试生成的文件
test.mcdp

#  排除自己
#.gitignore

